---
import Layout from '../../layouts/Layout.astro'
import {getArticlesLinks} from '../../utils/sanity'

const articles = await getArticlesLinks()

const titles: String[] = []
---

<Layout title="Inhaltsverzeichnis">
  <div class="mx-auto mt-10 mb-24 prose prose-p:my-1">
    <h1>Inhaltsverzeichnis</h1>
    {
      articles.map((art) => {
        const title = `${art.title.number}. Titel: ${art.title.name.de}`
        if (!titles.includes(title)) {
          titles.push(title)
          return (
            <h2>{title}</h2>
            <p>
              <a href={`/artikel/${art.number}/`}>
                Art. {art.number} {art.name.de}
              </a>
            </p>
          )
        } 
        return (
          <p>
            <a href={`/artikel/${art.number}/`}>
              Art. {art.number} {art.name.de}
            </a>
          </p>
        )
      })
    }
  </div>
</Layout>
