---
import PageIndex from '@/layouts/PageIndex.astro'
import { getArticlesFromTitle, getTitles } from '@/sanity/queries'
import { formatHeading } from '@/i18n/utils'
import { getLocale } from 'astro-i18n-aut'
import ArticleListItem from '@/components/ArticleListItem.astro'

const locale = getLocale(Astro.url) as LangKeys

export async function getStaticPaths() {
  const titles = await getTitles()
  return titles.map((title) => ({
    params: { number: title.slug.current },
  }))
}

const { number } = Astro.params

const { articles, title } = await getArticlesFromTitle(number)

const heading = formatHeading({ number, type: 'title' }, locale)
const pageTitle = `${heading}: ${title?.name[locale]}`
---

<PageIndex title={pageTitle} tabTitel={heading}>
  <section class="space-y-4">
    {
      articles.map((article) => (
        <ArticleListItem
          name={article.name[locale] ?? ''}
          number={article.number}
          law={article.law[locale]}
          exp={article.exp?.[locale]}
        />
      ))
    }
  </section>
</PageIndex>
