---
import type { InferGetStaticParamsType } from 'astro'
import { ChevronDown } from '@lucide/astro'
import Toolbar from '@/components/Toolbar.astro'
import Article from '@/components/Article.astro'
import LangCompare from '@/components/LangCompare.astro'
import Layout from '@/layouts/Layout.astro'
import { getArticle, getArticles } from '@/sanity/queries'
import { getLocale } from 'astro-i18n-aut'
import { locales } from '@/i18n/utils'

const locale = getLocale(Astro.url) as LangKeys

export async function getStaticPaths() {
  const articles = await getArticles()
  return articles.map((article: any) => ({
    params: { number: article.number.toString() },
  }))
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>
const { number } = Astro.params as Params
if (!number) return Astro.redirect('/404')

const article = await getArticle(parseInt(number))
if (!article) return Astro.redirect('/404')

const references = [article.title.name.de]

if (article.chapter?.number && article.chapter?.name) {
  references.push(article.chapter.name.de)
}

if (article.section?.number && article.section?.name) {
  references.push(article.section.name.de)
}
---

<Layout title={'Artikel ' + article.number}>
  <div x-data={`{languages: ['${locale}']}`}>
    <Toolbar number={article.number}>
      <a
        href={`/gesamtwerk#art-${article.number}`}
        class="bg-primary px-4 py-2 text-white duration-700 ease-out hover:bg-accent"
      >
        Artikel im Gesamtwerk anzeigen
      </a>
      <div class="flex justify-end gap-x-4">
        <span>Sprachvergleich mit:</span>
        {
          Object.entries(locales)
            .filter(([code]) => code !== locale)
            .map(([code]) => (
              <div>
                <input
                  type="checkbox"
                  value={code}
                  x-model="languages"
                  name={code}
                  class="accent-violet-800"
                  id={code}
                />
                <label for={code}>{code.toUpperCase()}</label>
              </div>
            ))
        }
      </div>
    </Toolbar>
    <div class="mx-auto mt-12 mb-24 max-w-7xl">
      <ol>
        {
          references.map((ref, index) => (
            <li class="flex flex-col items-center font-semibold">
              <a
                href="#"
                class={index !== references.length - 1 ? 'text-lg' : 'text-2xl'}
              >
                {ref}
              </a>
              {index !== references.length - 1 && (
                <ChevronDown class="text-gray-500" />
              )}
            </li>
          ))
        }
      </ol>
      <div x-show="languages.length === 1">
        <Article
          title={article.name[locale] ?? ''}
          number={article.number}
          law={article.law[locale]}
          exp={article.exp?.[locale]}
        />
      </div>
      <template x-if="languages.length > 1" x-cloak>
        <LangCompare article={article} />
      </template>
    </div>
  </div>
</Layout>
