---
import PageFind from '@/layouts/PageFind.astro'
import Toolbar from '@/components/Toolbar.astro'
import ArticlePage from '@/components/ArticlePage.astro'
import LangCompare from '@/components/LangCompare.astro'
import ArticlePills from '@/components/ArticlePills.astro'
import { getArticle, getArticles } from '@/sanity/queries'
import { getLocale } from 'astro-i18n-aut'
import { locales } from '@/i18n/ui'

const locale = getLocale(Astro.url) as LangKeys

export async function getStaticPaths() {
  const articles = await getArticles()
  return articles.map((article) => ({
    params: { number: article.slug.current },
  }))
}

const { number } = Astro.params
const article = await getArticle(number)
if (!article) return Astro.redirect('/404')

const articleView = {
  number: article.number,
  name: article.name[locale],
  law: article.law[locale],
  exp: article.exp?.[locale],
  title: { number: article.title.number, name: article.title.name[locale] },
  chapter: {
    number: article.chapter?.number,
    name: article.chapter?.name[locale],
  },
  section: {
    number: article.section?.number,
    name: article.section?.name[locale],
  },
}

export type ArticleView = typeof articleView
---

<PageFind title={'Art. ' + article.number}>
  <div x-data={`{languages: ['${locale}']}`} class="mb-24">
    <Toolbar>
      <a
        href={`/gesamtwerk#art-${article.number}`}
        class="bg-primary px-4 py-2 text-white duration-700 ease-out hover:bg-accent"
      >
        Artikel im Gesamtwerk anzeigen
      </a>
      <div class="flex justify-end gap-x-4">
        <span>Sprachvergleich mit:</span>
        {
          Object.entries(locales)
            .filter(([code]) => code !== locale)
            .map(([code]) => (
              <div>
                <input
                  type="checkbox"
                  value={code}
                  x-model="languages"
                  name={code}
                  class="accent-violet-800"
                  id={code}
                />
                <label for={code}>{code.toUpperCase()}</label>
              </div>
            ))
        }
      </div>
    </Toolbar>
    <div x-show="languages.length === 1" class="max-w-5xl mx-auto px-6">
      <ArticlePills
        title={articleView.title}
        chapter={articleView.chapter}
        section={articleView.section}
      />
      <ArticlePage article={articleView} />
    </div>
    <template x-if="languages.length > 1" x-cloak>
      <LangCompare article={article} />
    </template>
  </div>
</PageFind>
