---
import Layout from '../layouts/Layout.astro'

const questions = [
  'Für ein Gebäude mit Gesamttiefe von 15 Meter darf ich das präskriptive Nachweisverfahren anwenden?',
  'An wen richten sich die neuen Brandschutzvorschriften?',
  'Was sind die Grenzen des präskriptiven Nachweisverfahren?',
  'Ab welcher Gebäudehöhe kann das präskriptive Nachweisverfahren nicht mehr angewendet werden?',
  'Wer entscheidet über die Anwendung von Produkte?',
  'Was sind wärmetechnische Anlagen?',
]

const groups = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
---

<Layout title="Chatbot">
  <div
    class="max-w-7xl mx-auto px-4 my-10 grid md:grid-cols-2 gap-x-8"
    x-data="chatbot"
  >
    <section>
      <h1 class="text-2xl font-bold text-center mb-4">BSV Chatbot</h1>
      <div class="mb-4">
        <label for="query" class="block text-sm font-medium text-gray-700"
          >Ihre Frage zu den BSV 2026</label
        >
        <textarea
          autocomplete="off"
          id="query"
          x-model="query"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          placeholder="Frage eintippen..."></textarea>
      </div>

      <button
        type="button"
        @click="submitQuery"
        :disabled="loading"
        class="w-full py-2 px-4 bg-primary hover:bg-accent transition-700 ease-in-out text-white focus:outline-none focus:ring-2 focus:ring-blue-400 disabled:bg-gray-500"
      >
        <span x-show="!loading">BSV Chatbot fragen</span>
        <span x-show="loading">Einen Augenlick...</span>
      </button>

      <div class="mt-6" x-show="question">
        <h2 class="text-xl font-semibold sr-only">Frage:</h2>
        <p class="text-sm text-gray-600" x-text="question"></p>
      </div>

      <div class="mt-2" x-show="response">
        <h2 class="text-xl font-semibold sr-only">Antwort:</h2>
        <p class="text-gray-800 mt-2 whitespace-pre-line" x-text="response"></p>
      </div>

      <div class="mt-6 text-red-600" x-show="error">
        <h2 class="text-xl font-semibold">Fehler:</h2>
        <p class="mt-2" x-text="error"></p>
      </div>

      <div class="prose mt-24 border-2 border-primary p-4">
        <div>
          <label for="ansatz">Ansatz:</label>

          <select name="ansatz" id="ansatz" class="border-2 border-primary">
            <option value="präscriptiv">präscriptiv</option>
            <option value="risikobasiert">risikobasiert</option>
            <option value="leistungsbasiert">leistungsbasiert</option>
          </select>
        </div>

        <div>
          <label for="system">System:</label>

          <select name="system" id="system" class="border-2 border-primary">
            <option value="Gebäude">Gebäude</option>
            <option value="Gebäudeteil">Gebäudeteil</option>
            <option value="Brandabschnitt">Brandabschnitt</option>
            <option value="Raum">Raum</option>
          </select>
        </div>

        <h4>Systemeigenschaften</h4>

        <fieldset>
          <legend>Nuztergruppen:</legend>
          <div class="flex gap-x-4">
            {
              groups.map((group) => (
                <div>
                  <input type="checkbox" id={group} name={group} />
                  <label for={group}>{group}</label>
                </div>
              ))
            }
          </div>
        </fieldset>

        <button
          class="w-full py-2 px-4 bg-primary hover:bg-accent transition-700 ease-in-out text-white focus:outline-none focus:ring-2 focus:ring-blue-400 disabled:bg-gray-500 mt-4"
          >Brandschutz-Massnahmen planen</button
        >
      </div>
    </section>

    <section class="prose">
      <div>
        <h3>Hinweise</h3>
        <ul>
          <li>
            Das Chatbot kann nur Fragen über <a href="/artikel/"
              >veröffentliche Artikel</a
            >
            beantworten.
          </li>
          <li>Zurzeit sind nur Fragen auf Deutsch möglich.</li>
          <li>Es gibt keine Garantie für die Richtigkeit der Antworten.</li>
        </ul>
      </div>
      <div>
        <h3>Beispielfragen</h3>
        <ul>
          {
            questions.map((question) => (
              <li
                x-data={`{ question: '${question}'}`}
                class="underline cursor-pointer"
                x-on:click="query = question; submitQuery()"
                role="button"
                tabindex="0"
              >
                {question}
              </li>
            ))
          }
        </ul>
      </div>
      <!--  <div>
        <h3>Technische Informationen</h3>
        <ul>
          <li>KI-Model: <a href="GPT-4o" target="_blank">GPT-4o</a></li>
          <li>
            KI-Anweisung: <span class="italic">
              Du bist ein hilfreicher Assistent, der nur auf der Grundlage dieser Dokumente
              antwortet: [relevante BSV-Artikel]. Bitte gib an, welche Artikel du verwendest hast."</span
            >
          </li>
          <li>Vektordatenbank: Pinecone.io</li>
          <li>Relevance score threshold: 0.75 (min: 0, max: 1)</li>
        </ul>
      </div> -->
    </section>
  </div>
</Layout>

<script>
  document.addEventListener('alpine:init', () => {
    window.Alpine.data('chatbot', () => ({
      query: '',
      response: '',
      error: '',
      loading: false,
      question: '',
      async submitQuery() {
        if (!this.query) {
          this.error = 'Bitte geben Sie eine Frage ein.'
          return
        }

        this.loading = true
        this.response = ''
        this.error = ''
        this.question = ''

        const controller = new AbortController()
        const timeoutId = setTimeout(() => controller.abort(), 10000) // 10-second timeout

        try {
          const res = await fetch('/.netlify/functions/chatbot', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ prompt: this.query }),
            signal: controller.signal,
          })

          clearTimeout(timeoutId)

          if (!res.ok) {
            const errorData = await res.json()
            if (res.status === 404) {
              this.response = 'Keine passenden Informationen gefunden.'
            } else {
              this.error = errorData.error || 'Ein Fehler ist aufgetreten.'
              console.error(this.error)
            }
            return
          }

          const data = await res.json()
          this.response =
            data.reply || 'Sorry, ich konnte keine Antwort finden.'
          this.question = this.query
          this.query = '' // Reset query on success
        } catch (err: any) {
          if (err.name === 'AbortError') {
            this.error =
              'Die Anfrage hat zu lange gedauert. Bitte versuchen Sie es erneut.'
          } else {
            console.error(err)
            this.error =
              'Ein unerwarteter Fehler ist aufgetreten. Bitte versuchen Sie es später erneut.'
          }
        } finally {
          clearTimeout(timeoutId)
          this.loading = false
        }
      },
    }))
  })
</script>
