---
import ArticleListItem from '@/components/ArticleListItem.astro'
import Toolbar from '@/components/Toolbar.astro'
import Layout from '@/layouts/Layout.astro'
import { getArticles } from '@/sanity/queries'
import SideNav from '@/components/SideNav.astro'
import { getLocale } from 'astro-i18n-aut'

const locale = getLocale(Astro.url) as LangKeys

const articles = await getArticles()

const expOptions = [
  { text: 'anzeigen', value: 'show' },
  { text: 'umschalten', value: 'toggle' },
  { text: 'ausblenden', value: 'hide' },
]
---

<Layout title="Gesamtwerk">
  <div class="c-grid-wrapper">
    <div class="c-sidenav">
      <SideNav />
    </div>
    <div x-data="$store.toolbar" class="c-main mb-24">
      <Toolbar>
        <div class="flex gap-x-4">
          <span>Erläuterungen:</span>
          {
            expOptions.map(({ text, value }) => (
              <div>
                <input
                  type="radio"
                  value={value}
                  x-model="exp"
                  name={text}
                  class="accent-accent"
                  id={value}
                />
                <label for={value}>{text}</label>
              </div>
            ))
          }
        </div>
      </Toolbar>
      <section class="mx-auto max-w-7xl">
        {
          articles.map((article: any) => (
            <ArticleListItem
              title={article.name[locale] ?? ''}
              number={article.number}
              law={article.law[locale]}
              exp={article.exp?.[locale]}
            />
          ))
        }
      </section>
      <section
        class="mx-auto prose max-w-5xl prose-stone prose-p:my-2 prose-thead:font-semibold"
      >
      </section>
    </div>
  </div>
</Layout>

<style>
  .c-grid-wrapper {
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-areas: 'sidenav main';
  }

  .c-main {
    grid-area: 'main';
  }

  .c-sidenav {
    grid-area: 'sidenav';
  }
</style>
