---
import { urlFor } from '@/sanity/sanityImage'

const { name, number, img } = Astro.props.node.markDef

const url = urlFor(img.asset).quality(90).auto('format').url()
---

<!-- Trigger -->
<button
  type="button"
  @click={`$refs.dialog${number}.showModal()`}
  class="inline-block cursor-pointer underline"
>
  <slot />
</button>

<!-- Dialog -->
<template x-teleport="body">
  <dialog
    x-ref={`dialog${number}`}
    class="m-0 h-screen max-h-none w-screen max-w-none bg-black/90 p-0"
    @click.self={`$refs.dialog${number}.close()`}
  >
    <h3>{name}</h3>
    <img src={url} alt={img.alt} class="max-h-[90vh] max-w-[90vw]" />
  </dialog>
</template>
