---
import type { Article } from '../utils/sanity'
import { PortableText } from 'astro-portabletext'

interface Props {
  article: Article
}

const { article } = Astro.props
---

<div>
  <h3>Artikel {article.number}</h3>
  <div class="flex mb-12 gap-x-8">
    <div class="flex-1 prose">
      <h2>{article.content.deTitle}</h2>
      <PortableText value={article.content.deLaw} />
    </div>
    <div class="flex-1 prose max-w-2xl">
      <h2>{article.content.frTitle}</h2>
      <PortableText value={article.content.frLaw} />
    </div>
  </div>
</div>
