---
import RichText from '@/components/portable-text/RichText.astro'
import ExpAccordion from '@/components/ExpAccordion.astro'

interface Props {
  title: string
  number: number
  law: any
  exp?: any
}

const { title, number, law, exp = [] } = Astro.props

// mx-auto prose scroll-mt-12 prose-stone prose-p:my-2 prose-ol:mt-0 prose-ol:mb-2 prose-ul:mt-0 prose-ul:mb-2 prose-thead:font-semibold

// mx-auto prose max-w-5xl prose-stone prose-p:my-2 prose-thead:font-semibold
---

<article id={`art-${number}`} class="mx-auto max-w-3xl">
  <h2 class="mb-3">
    <span class="mb-1 block font-mono text-sm text-gray-500"
      >Artikel {number}</span
    >
    <a
      class="block text-xl transition-colors hover:text-blue-600"
      href={'/art/' + number}>{title}</a
    >
  </h2>

  <RichText blocks={law} />

  <ExpAccordion number={number}>
    <RichText blocks={exp} />
  </ExpAccordion>
</article>
