---
import RichText from '@/components/portable-text/RichText.astro'
import ExpAccordion from '@/components/ExpAccordion.astro'
import { getLocale, getLocaleUrl } from 'astro-i18n-aut'
const locale = getLocale(Astro.url) as LangKeys

interface Props {
  name: string
  number: number
  law: any
  exp?: any
}

const { name, number, law, exp = null } = Astro.props

const url = getLocaleUrl('/art/' + number, locale)
---

<article
  id={`art-${number}`}
  class="rounded-lg mb-4 border bg-white border-slate-300 p-6"
>
  <h2 class="mb-3">
    <span class="mb-1 block font-mono text-sm text-slate-600"
      >Artikel {number}</span
    >
    <a class="block text-xl transition-colors hover:text-blue-600" href={url}
      >{name}</a
    >
  </h2>

  <RichText blocks={law} />

  <!-- Erläuterung -->
  {
    exp && (
      <ExpAccordion number={number}>
        <RichText blocks={exp} />
      </ExpAccordion>
    )
  }
</article>
