---
import type { Article, BlockContent } from '../utils/sanity'
import { PortableText } from 'astro-portabletext'

interface Props {
  article: Article
}

const { article } = Astro.props

function countDistinctItems(blockContent: BlockContent) {
  let count = 0
  let lastWasBullet = false

  for (let item of blockContent) {
    if (item.listItem === 'bullet' || item.listItem === 'number') {
      if (!lastWasBullet) {
        count++
      }
      lastWasBullet = true
    } else {
      count++
      lastWasBullet = false
    }
  }

  return count
}

let colsExp = 0

if (article.content.deExplanation?.length) {
  colsExp = countDistinctItems(article.content.deExplanation)
}
---

<article class="prose max-w-none">
  <h3>Artikel {article.number}</h3>
  <div class="grid grid-cols-2 mb-12 gap-x-8">
    <div>
      <h2 class="mt-0">{article.content.deTitle}</h2>
      <PortableText value={article.content.deLaw} />
    </div>
    <div>
      <h2 class="mt-0">{article.content.frTitle}</h2>
      <PortableText value={article.content.frLaw} />
    </div>
  </div>

  <div
    class={`bg-blue-100 grid grid-cols-2 mb-12 gap-x-8 grid-flow-col grid-rows-[repeat(${colsExp},auto)]`}
  >
    {
      article.content.deExplanation && (
        <PortableText value={article.content.deExplanation} />
      )
    }

    {
      article.content.frExplanation && (
        <PortableText value={article.content.frExplanation} />
      )
    }
  </div>
</article>
