---
import RichText from '@/components/portable-text/RichText.astro'
import type { ArticleView } from '@/pages/art/[number].astro'

import ArticleHeader from './ArticleHeader.astro'

interface Props {
  article: ArticleView
}

const {
  title,
  chapter,
  section,
  number,
  law,
  exp = null,
  name,
} = Astro.props.article
---

<article
  class="mx-auto rounded-lg mt-18 mb-24 border bg-white max-w-3xl border-slate-300 p-6"
>
  <ArticleHeader title={title} chapter={chapter} section={section}>
    <div class="mb-1 font-mono text-slate-600">Artikel {number}</div>
    <h1 class="font-serif text-2xl leading-tight">{name}</h1></ArticleHeader
  >
  <!-- Vorschriftentext -->
  <RichText blocks={law} />

  <!-- Erläuterung -->
  {
    exp && (
      <div class="mt-8 w-fit rounded-r-md border-l-4 border-blue-500 bg-blue-50 p-6">
        <h2 class="mb-4 text-lg font-semibold text-blue-900">
          Erläuterung zum Art. {number}
        </h2>
        <div class="text-blue-900">
          <RichText blocks={exp} />
        </div>
      </div>
    )
  }
</article>
