---
import type { Article, BlockContent } from '../utils/sanity'

import ArticleContent from '../components/ArticleContent.astro'
import { PortableText } from 'astro-portabletext'

interface Props {
  article: Article
}

const { article } = Astro.props

function countDistinctItems(blockContent: BlockContent | undefined) {
  if (!blockContent) {
    return 0
  }
  let count = 0
  let lastWasBullet = false

  for (let item of blockContent) {
    if (item.listItem === 'bullet' || item.listItem === 'number') {
      if (!lastWasBullet) {
        count++
      }
      lastWasBullet = true
    } else {
      count++
      lastWasBullet = false
    }
  }

  return count
}

const colsLaw = countDistinctItems(article.content.deLaw)
const colsExp = countDistinctItems(article.content.deExplanation)

// Explicitly type the languages array
const languages: Array<'de' | 'fr' | 'it'> = ['de', 'fr', 'it']

const titles = {
  de: article.content.deTitle,
  fr: article.content.frTitle,
  it: article.content.itTitle,
}
const laws = {
  de: article.content.deLaw,
  fr: article.content.frLaw,
  it: article.content.itLaw,
}
const explanations = {
  de: article.content.deExplanation,
  fr: article.content.frExplanation,
  it: article.content.itExplanation,
}
---

<article
  class="prose"
  :class="languages.length === 1 ? 'mx-auto' : 'max-w-none'"
>
  <h3>Artikel {article.number}</h3>
  <div class="grid gap-x-8 grid-flow-col auto-cols-fr grid-rows-1">
    {
      languages.map((lang) => (
        <h2 x-show={`languages.includes('${lang}')`} class="mt-0">
          {titles[lang]}
        </h2>
      ))
    }
  </div>

  <div
    class="grid gap-x-8 grid-flow-col auto-cols-fr"
    style={`grid-template-rows: repeat(${colsLaw}, auto)`}
  >
    {
      languages.map((lang) => (
        <div x-show={`languages.includes('${lang}')`} class="contents">
          <PortableText value={laws[lang]} />
        </div>
      ))
    }
  </div>

  <div
    class="grid gap-x-8 grid-flow-col auto-cols-fr text-blue-600"
    style={`grid-template-rows: repeat(${colsExp}, auto)`}
  >
    {
      languages.map(
        (lang) =>
          explanations[lang] && (
            <div x-show={`languages.includes('${lang}')`} class="contents">
              <PortableText value={explanations[lang]} />
            </div>
          )
      )
    }
  </div>
</article>
