---
import type { Article } from '../utils/sanity'
import { PortableText } from 'astro-portabletext'

interface Props {
  article: Article
}

const { article } = Astro.props
---

<article class="prose max-w-none">
  <h3>Artikel {article.number}</h3>
  <div class="grid grid-cols-2 mb-12 gap-x-8">
    <div>
      <h2>{article.content.deTitle}</h2>
      <PortableText value={article.content.deLaw} />
    </div>
    <div>
      <h2>{article.content.frTitle}</h2>
      <PortableText value={article.content.frLaw} />
    </div>
  </div>
  <div class="text-blue-600 grid grid-cols-2 mb-12 gap-x-8">
    <PortableText value={article.content.deExplanation} />
    <PortableText value={article.content.frExplanation} />
  </div>
</article>
