---
import type { Article } from '../utils/sanity'
import { PortableText } from 'astro-portabletext'

interface Props {
  article: Article
}

const { article } = Astro.props
---

<div class="flex mb-12">
  <div class="flex-1">
    <h2 class="font-bold">Art. {article.number} {article.content.deTitle}</h2>
    <PortableText value={article.content.deLaw} />
  </div>
  <div class="flex-1">
    <h2 class="font-bold">Art. {article.number} {article.content.frTitle}</h2>
    <PortableText value={article.content.frLaw} />
  </div>
</div>

<style is:global>
  ol ol {
    list-style-type: lower-alpha; /* Second-level uses lower-alpha */
  }

  ol ol ol {
    list-style-type: decimal; /* Third-level goes back to numbers */
  }
</style>
