---
import RichText from '@/components/portable-text/RichText.astro'

interface Props {
  title: string
  number: number
  law: any
  exp?: any
}

const { title, number, law, exp = [] } = Astro.props

// mx-auto prose scroll-mt-12 prose-stone prose-p:my-2 prose-ol:mt-0 prose-ol:mb-2 prose-ul:mt-0 prose-ul:mb-2 prose-thead:font-semibold
---

<article id={`art-${number}`}>
  <header class="mx-auto mt-8 mb-6 max-w-3xl">
    <!--     <dl class="mb-3 font-mono text-xs text-gray-500">
      <div>
        <dt>Titel 1</dt>
        <dd>Geltungsbereich</dd>
      </div>
      <div>
        <dt>Kapitel 1</dt>
        <dd>Allgemeine Bestimmungen</dd>
      </div>
      <div>
        <dt>Abschnitt 1</dt>
        <dd>Geltungsbereich</dd>
      </div>
    </dl> -->

    <div class="mb-2 font-mono text-slate-600">
      Artikel {number}
    </div>
    <h1 class="font-serif text-3xl leading-tight">
      {title}
    </h1>
  </header>

  <RichText blocks={law} />

  <div
    class="mx-auto mt-8 max-w-3xl rounded-r-xl border-l-4 border-blue-500 bg-blue-50 p-6"
  >
    <h2 class="mb-4 text-xl font-semibold text-blue-900">
      Erläuterung zum Art. {number}
    </h2>
    <div class="leading-relaxed text-blue-900">
      <RichText blocks={exp} />
    </div>
  </div>
</article>
