---
import RichText from '@/components/portable-text/RichText.astro'

interface Props {
  title: string
  number: number
  law: any
  exp?: any
}

const { title, number, law, exp = [] } = Astro.props
---

<article
  class="mx-auto prose scroll-mt-12 prose-stone prose-p:my-2 prose-ol:mt-0 prose-ol:mb-2 prose-ul:mt-0 prose-ul:mb-2 prose-thead:font-semibold"
  id={`art-${number}`}
>
  <h1>Art. {number} {title}</h1>

  <RichText blocks={law} />
  <div class="text-blue-700">
    <RichText blocks={exp} />
  </div>
</article>
