---
import type {Article, BlockContent} from '../utils/sanity'

import {PortableText} from 'astro-portabletext'

import {Icon} from 'astro-icon/components'

interface Props {
  article: Article
}

const {article} = Astro.props

function countDistinctItems(blockContent: BlockContent | undefined) {
  if (!blockContent) {
    return 0
  }
  let count = 0
  let lastWasBullet = false

  for (let item of blockContent) {
    if (item.listItem === 'bullet' || item.listItem === 'number') {
      if (!lastWasBullet) {
        count++
      }
      lastWasBullet = true
    } else {
      count++
      lastWasBullet = false
    }
  }
  return count
}

const colsLaw = countDistinctItems(article.law.de)
const colsExp = countDistinctItems(article?.exp?.de)

// Explicitly type the languages array
const languages: Array<'de' | 'fr' | 'it'> = ['de', 'fr', 'it']

const titles = {
  de: article.name.de,
  fr: article.name.fr,
  it: article.name.it,
}
const laws = {
  de: article.law.de,
  fr: article.law.fr,
  it: article.law.it,
}
const explanations = {
  de: article?.exp?.de,
  fr: article?.exp?.fr,
  it: article?.exp?.it,
}

const references = [`Titel ${article.title.number}`]

if (article.chapter?.number) {
  references.push(`Kapitel ${article.chapter.number}`)
}

if (article.section?.number) {
  references.push(`Abschnitt ${article.section.number}`)
}
---

<article
  class="prose prose-stone prose-sm prose-p:my-2 prose-ul:mt-0 prose-ul:mb-2 prose-ol:mt-0 prose-ol:mb-2 scroll-mt-12"
  :class="languages.length === 1 ? 'mx-auto' : 'max-w-none'"
  id={`art-${article.number}`}
>
  <header class="mt-6 flex justify-between items-baseline relative">
    <button
      x-data={`{ link: '${Astro.site}/artikel/${article.number}/'}`}
      @click="navigator.clipboard.writeText(link)"
      class="absolute -left-10 top-8 cursor-pointer"
    >
      <Icon name="mdi:link" class="text-xl" />
    </button>
    <h3>Art. {article.number}</h3>
    <h4 class="text-xs text-gray-500 font-semibold">
      {references.join(', ')}
    </h4>
  </header>

  <div class="grid gap-x-8 grid-flow-col auto-cols-fr grid-rows-1">
    {
      languages.map((lang) => (
        <h2 x-show={`languages.includes('${lang}')`} class="mt-0 mb-2 text-lg">
          {titles[lang]}
        </h2>
      ))
    }
  </div>

  <div
    class="grid gap-x-8 grid-flow-col auto-cols-fr"
    style={`grid-template-rows: repeat(${colsLaw}, auto)`}
  >
    {
      languages.map((lang) => (
        <div x-show={`languages.includes('${lang}')`} class="contents c-law">
          <PortableText value={laws[lang] ?? []} />
        </div>
      ))
    }
  </div>

  {
    explanations.de && (
      <details x-show="exp === 'toggle'">
        <summary class="cursor-pointer">Erläuterung anzeigen</summary>
        <div
          class="grid gap-x-8 grid-flow-col auto-cols-fr text-blue-600"
          style={`grid-template-rows: repeat(${colsExp}, auto)`}
          lang="de"
        >
          {languages.map(
            (lang) =>
              explanations[lang] && (
                <div x-show={`languages.includes('${lang}')`} class="contents">
                  <PortableText value={explanations[lang]} />
                </div>
              )
          )}
        </div>
      </details>
    )
  }

  {
    explanations.de && (
      <div
        class="grid gap-x-8 grid-flow-col auto-cols-fr text-blue-600"
        style={`grid-template-rows: repeat(${colsExp}, auto)`}
        x-show="exp === 'show'"
      >
        {languages.map(
          (lang) =>
            explanations[lang] && (
              <div x-show={`languages.includes('${lang}')`} class="contents">
                <PortableText value={explanations[lang]} />
              </div>
            )
        )}
      </div>
    )
  }
</article>
