---
import type { Article, BlockContent } from '../utils/sanity'

import ArticleContent from '../components/ArticleContent.astro'

interface Props {
  article: Article
  languages: string[]
}

const { article } = Astro.props

function countDistinctItems(blockContent: BlockContent | undefined) {
  if (!blockContent) {
    return 0
  }
  let count = 0
  let lastWasBullet = false

  for (let item of blockContent) {
    if (item.listItem === 'bullet' || item.listItem === 'number') {
      if (!lastWasBullet) {
        count++
      }
      lastWasBullet = true
    } else {
      count++
      lastWasBullet = false
    }
  }

  return count
}

let cols =
  countDistinctItems(article.content.deLaw) +
  countDistinctItems(article.content.deExplanation) +
  1

console.log(cols)
---

<article class="prose max-w-none">
  <!--   languages: <span x-text="languages"></span> -->
  <h3>Artikel {article.number}</h3>

  <div
    class="grid grid-cols-2 mb-12 gap-x-8 grid-flow-col"
    style={`grid-template-rows: repeat(${cols}, auto)`}
  >
    <ArticleContent
      title={article.content.deTitle}
      law={article.content.deLaw}
      exp={article.content.deExplanation}
    />
    <ArticleContent
      title={article.content.frTitle}
      law={article.content.frLaw}
      exp={article.content.frExplanation}
    />
    <!--     <ArticleContent
      title={article.content.itTitle}
      law={article.content.itLaw}
      exp={article.content.itExplanation}
    /> -->
  </div>
</article>
