---
import RichText from '@/components/portable-text/RichText.astro'

interface Props {
  title: string
  number: number
  law: any
  exp?: any
}

const { title, number, law, exp = null } = Astro.props

// mx-auto prose scroll-mt-12 prose-stone prose-p:my-2 prose-ol:mt-0 prose-ol:mb-2 prose-ul:mt-0 prose-ul:mb-2 prose-thead:font-semibold
---

<article id={`art-${number}`} class="mx-auto mt-18 mb-24 max-w-3xl">
  <header class="mb-8">
    <div class="flex flex-wrap gap-3">
      <div
        class="inline-flex items-center gap-2 rounded-full bg-blue-100 px-4 py-2"
      >
        <span class="font-mono text-xs font-semibold text-blue-600"
          >1. Titel:</span
        >
        <span class="text-sm text-blue-700">Geltungsbereich</span>
      </div>
      <div
        class="inline-flex items-center gap-2 rounded-full bg-green-100 px-4 py-2"
      >
        <span class="font-mono text-xs font-semibold text-green-600"
          >2. Kapitel:</span
        >
        <span class="text-sm text-green-700">Allgemeine Bestimmungen</span>
      </div>
      <div
        class="inline-flex items-center gap-2 rounded-full bg-amber-100 px-4 py-2"
      >
        <span class="font-mono text-xs font-semibold text-amber-600"
          >3. Abschnitt:</span
        >
        <span class="text-sm text-amber-700">Geltungsbereich</span>
      </div>
    </div>
  </header>

  <div class="mb-2 font-mono text-slate-600">
    Artikel <span>{number}</span>
  </div>
  <h1 class="font-serif text-3xl leading-tight">
    {title}
  </h1>

  <!-- Vorschriftentext -->
  <RichText blocks={law} />

  <!-- Erläuterung -->
  {
    exp && (
      <div class="mt-8 w-fit rounded-r-xl border-l-4 border-blue-500 bg-blue-50 p-6">
        <h2 class="mb-4 text-xl font-semibold text-blue-900">
          Erläuterung zum Art. {number}
        </h2>
        <div class="text-blue-900">
          <RichText blocks={exp} />
        </div>
      </div>
    )
  }
</article>
