---
import type { Article, BlockContent } from '../utils/sanity'

import ArticleContent from '../components/ArticleContent.astro'

interface Props {
  article: Article
}

const { article } = Astro.props

function countDistinctItems(blockContent: BlockContent | undefined) {
  if (!blockContent) {
    return 0
  }
  let count = 0
  let lastWasBullet = false

  for (let item of blockContent) {
    if (item.listItem === 'bullet' || item.listItem === 'number') {
      if (!lastWasBullet) {
        count++
      }
      lastWasBullet = true
    } else {
      count++
      lastWasBullet = false
    }
  }

  return count
}

let cols =
  countDistinctItems(article.content.deLaw) +
  countDistinctItems(article.content.deExplanation) +
  1
---

<article class="prose max-w-none">
  <h3>Artikel {article.number}</h3>
  <span x-text="languages.length"></span>
  <div
    class="grid mb-12 gap-x-8 grid-flow-col auto-cols-fr"
    style={`grid-template-rows: repeat(${cols}, auto); grid-template-columns: repeat(languages.length, minmax(0, 1fr));`}
  >
    <div x-show="languages.includes('de')" class="contents">
      <ArticleContent
        title={article.content.deTitle}
        law={article.content.deLaw}
        exp={article.content.deExplanation}
      />
    </div>

    <div x-show="languages.includes('fr')" class="contents">
      <ArticleContent
        title={article.content.frTitle}
        law={article.content.frLaw}
        exp={article.content.frExplanation}
      />
    </div>
    <div x-show="languages.includes('it')" class="contents">
      <ArticleContent
        title={article.content.itTitle}
        law={article.content.itLaw}
        exp={article.content.itExplanation}
      />
    </div>
  </div>
</article>
