---
import type { Article, BlockContent } from '../utils/sanity'

import ArticleContent from '../components/ArticleContent.astro'
import { PortableText } from 'astro-portabletext'

interface Props {
  article: Article
}

const { article } = Astro.props

function countDistinctItems(blockContent: BlockContent | undefined) {
  if (!blockContent) {
    return 0
  }
  let count = 0
  let lastWasBullet = false

  for (let item of blockContent) {
    if (item.listItem === 'bullet' || item.listItem === 'number') {
      if (!lastWasBullet) {
        count++
      }
      lastWasBullet = true
    } else {
      count++
      lastWasBullet = false
    }
  }

  return count
}

const colsLaw = countDistinctItems(article.content.deLaw)
const colsExp = countDistinctItems(article.content.deExplanation)
---

<article class="prose max-w-none">
  <h3>Artikel {article.number}</h3>
  <div class="grid gap-x-8 grid-flow-col auto-cols-fr grid-rows-1">
    <h2 x-show="languages.includes('de')" class="mt-0">
      {article.content.deTitle}
    </h2>
    <h2 x-show="languages.includes('fr')" class="mt-0">
      {article.content.frTitle}
    </h2>
    <h2 x-show="languages.includes('it')" class="mt-0">
      {article.content.itTitle}
    </h2>
  </div>

  <div
    class="grid gap-x-8 grid-flow-col auto-cols-fr"
    style={`grid-template-rows: repeat(${colsLaw}, auto)`}
  >
    <div x-show="languages.includes('de')" class="contents">
      <PortableText value={article.content.deLaw} />
    </div>
    <div x-show="languages.includes('fr')" class="contents">
      <PortableText value={article.content.frLaw} />
    </div>
    <div x-show="languages.includes('it')" class="contents">
      <PortableText value={article.content.itLaw} />
    </div>
  </div>

  <div
    class="grid gap-x-8 grid-flow-col auto-cols-fr text-blue-600"
    style={`grid-template-rows: repeat(${colsExp}, auto)`}
  >
    {
      article.content.deExplanation && (
        <div x-show="languages.includes('de')" class="contents">
          <PortableText value={article.content.deExplanation} />
        </div>
      )
    }

    {
      article.content.frExplanation && (
        <div x-show="languages.includes('fr')" class="contents">
          <PortableText value={article.content.frExplanation} />
        </div>
      )
    }

    {
      article.content.itExplanation && (
        <div x-show="languages.includes('it')" class="contents">
          <PortableText value={article.content.itExplanation} />
        </div>
      )
    }
  </div>
</article>
