---
import type { Article } from '../utils/sanity'
import { PortableText } from 'astro-portabletext'

interface Props {
  article: Article
}

const { article } = Astro.props
---

<div>
  <!-- <h3>Artikel {article.number}</h3> -->
  <div class="grid grid-cols-2 mb-12 gap-x-8">
    <div class="prose">
      <h2>{article.content.deTitle}</h2>
      <PortableText value={article.content.deLaw} />

      <PortableText value={article.content.deExplanation} />
    </div>
    <div class="prose max-w-2xl">
      <h2>{article.content.frTitle}</h2>
      <PortableText value={article.content.frLaw} />

      <PortableText value={article.content.frExplanation} />
    </div>
  </div>
</div>
