---
import { getNav } from '@/sanity/queries'
import ArticlesList from '../components/ArticlesList.astro'
const nav = await getNav()
---

<aside class="sticky top-0">
  <nav class="px-3 py-6 bg-slate-800 text-white h-screen overflow-y-scroll">
    <ul class="space-y-2 font-medium">
      {
        nav.map((title) => (
          <li class="flex items-center p-2">
            <details>
              <summary class="text-base">
                {title.number}
                {title.name.de}
              </summary>

              <!-- Articles with no chapter nor section -->
              {!title.chapters.length && !title.sections.length && (
                <ArticlesList articles={title.articles} />
              )}

              <!-- Articles with both chapter and section. TODO: -->
              {!!title.chapters.length && !!title.sections.length && (
                <ArticlesList articles={title.articles} />
              )}

              <!-- Articles with only section -->
              {!title.chapters.length &&
                title.sections.map((section) => (
                  <div>
                    <h3 class="text-sm ms-4 mt-2 text-gray-400">
                      {section.name.de}
                    </h3>
                    <ArticlesList
                      articles={title.articles.filter(
                        (art) => art.section?.number === section.number
                      )}
                    />
                  </div>
                ))}

              <!-- Articles with only chapter -->
              {!!title.chapters.length &&
                title.chapters.map((chapter) => (
                  <details>
                    <summary class="text-sm">
                      {chapter.number}
                      {chapter.name.de}
                    </summary>
                    <ArticlesList
                      articles={title.articles.filter(
                        (art) => art.chapter?.number === chapter.number
                      )}
                    />
                  </details>
                ))}
            </details>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>
