---
import { getNav } from '../utils/sanity'

const nav = await getNav()
---

<aside class="sticky top-0">
  <nav class="px-3 py-6 bg-slate-900 text-white h-screen overflow-y-scroll">
    <ul class="space-y-2 font-medium">
      {
        nav.map((title: any) => (
          <li class="flex items-center p-2 text-gray-900 dark:text-white">
            <details>
              <summary class="text-base">
                {title.number}
                {title.name.de}
              </summary>

              {title.chapters.length ? (
                <ul class="mt-2">
                  {title.chapters.map((chapter: any) => (
                    <li class="mb-2">
                      <details>
                        <summary class="text-sm">
                          {chapter.number}
                          {chapter.name.de}
                        </summary>

                        {chapter.sections.length ? (
                          chapter.sections.map((section: any) => (
                            <div>
                              <h3 class="text-sm ms-4 mt-2 text-gray-400">
                                {section.name.de}
                              </h3>
                              <ul class="text-xs ms-4 space-y-2">
                                {title.articles.map((art: any) => (
                                  <li>
                                    Art.&nbsp;{art.number}&nbsp;{art.name.de}
                                  </li>
                                ))}
                              </ul>
                            </div>
                          ))
                        ) : (
                          <ul class="text-xs ms-4 space-y-2 mt-2">
                            {title.articles.map((art: any) => (
                              <li>
                                Art.&nbsp;{art.number}&nbsp;{art.name.de}
                              </li>
                            ))}
                          </ul>
                        )}
                      </details>
                    </li>
                  ))}
                </ul>
              ) : (
                <ul class="text-xs ms-4 space-y-2 mt-2">
                  {title.articles.map((art: any) => (
                    <li>
                      Art.&nbsp;{art.number}&nbsp;{art.name.de}
                    </li>
                  ))}
                </ul>
              )}
            </details>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>
