---
import LanguagePicker from './LanguagePicker.astro'
import NavDropDown from './NavDropDown.astro'
import type { langKeys } from '@/i18n/utils'
import { useTranslations } from '@/i18n/utils'

const lang = Astro.currentLocale as langKeys

const t = useTranslations(lang)

const titlesLinks = Array.from({ length: 10 }, (_, i) => String(i + 1)).map(
  (number) => ({
    name: `${number}. Titel`,
    path: `/${lang}/titel/${number}/`,
  })
)

const mainNav = [
  { name: t('nav.titles'), links: titlesLinks },
  { name: t('nav.appendices'), links: [] },
  { name: t('nav.toc'), links: [] },
  /*   { name: t('nav.whole'), links: [] }, */
  { name: t('nav.faq'), links: [] },
]
---

<header class="border-b-2 border-primary">
  <div class="mx-4 grid grid-cols-3 items-baseline py-5">
    <a href={`/${lang}/`} class="text-2xl font-semibold hover:underline"
      >{t('nav.brand')}</a
    >

    <nav
      class="flex justify-center gap-x-6 text-lg font-semibold decoration-accent decoration-4"
    >
      {
        mainNav.map((item) => (
          /*  <a
            href={`/${currentLang}/${item.link}/`}
            class={
              'hover:underline ' + (pathname.includes(item.link) && 'underline')
            }
          >
            {item.text}
          </a> */
          <NavDropDown name={item.name} links={item.links} />
        ))
      }
    </nav>

    <div class="text-right">
      <LanguagePicker />
    </div>
  </div>
</header>
