---
import LanguagePicker from './LanguagePicker.astro'
import NavDropDown from './NavDropDown.astro'
import { useTranslations } from '@/i18n/utils'
import Link from './Link.astro'

const lang = Astro.currentLocale as LangKeys

const t = useTranslations(lang)

const titlesLinks = Array.from({ length: 10 }, (_, i) => String(i + 1)).map(
  (number) => ({
    name: `${number}. Titel`,
    path: `titel/${number}`,
  })
)

const mainNav = [
  {
    name: t('nav.titles'),
    links: [{ name: t('nav.titles.overview'), path: `titel` }, ...titlesLinks],
  },
  {
    name: t('nav.appendices'),
    links: [
      { name: 'Anhang 1 (inaktiv)', path: '#' },
      { name: 'Anhang 2 (inaktiv)', path: '#' },
    ],
  },
  {
    name: t('nav.toc'),
    links: [
      { name: 'Beispiel 1 (inaktiv)', path: '#' },
      { name: 'Beispiel 2 (inaktiv)', path: '#' },
    ],
  },
  { name: t('nav.faq'), path: 'anfragen' },
  { name: t('nav.all'), path: `gesamtwerk` },
]
---

<header class="border-b-2 border-primary">
  <div class="mx-4 flex items-baseline justify-between py-5">
    <a href={`/`} class="text-2xl font-semibold hover:underline"
      >{t('nav.brand')}</a
    >

    <nav
      class="flex items-center justify-center gap-x-6 text-lg font-semibold decoration-accent decoration-4"
    >
      {
        mainNav.map((item) =>
          !item.links ? (
            <Link text={item.name} slug={item.path} />
          ) : (
            <NavDropDown name={item.name} links={item.links} />
          )
        )
      }
    </nav>

    <div class="text-right">
      <LanguagePicker />
    </div>
  </div>
</header>
