---
interface Props {
  number?: number
}

const expOptions = [
  { text: 'anzeigen', value: 'show' },
  { text: 'umschalten', value: 'toggle' },
  { text: 'ausblenden', value: 'hide' },
]

const langs = [
  { text: 'Deutsch', value: 'de' },
  { text: 'Französisch', value: 'fr' },
  { text: 'Italienisch', value: 'it' },
]
const { number } = Astro.props
---

<div
  class="sticky top-0 p-4 flex justify-between bg-gray-100 items-center z-10 border-b-2 border-primary"
>
  <div class="flex gap-x-4">
    {!number && <span>Erläuterungen:</span>}
    {
      !number ? (
        expOptions.map(({ text, value }) => (
          <div>
            <input
              type="radio"
              value={value}
              x-model="exp"
              name={text}
              class="accent-accent"
              id={value}
            />
            <label for={value}>{text}</label>
          </div>
        ))
      ) : (
        <a
          href={`/gesamtwerk#art-${number}`}
          class="bg-primary hover:bg-accent duration-700 ease-in-out py-2 px-4 text-white"
        >
          Artikel im Gesamtwerk anzeigen
        </a>
      )
    }
  </div>
  <div class="flex gap-x-4 justify-end">
    <span>Sprachvergleich:</span>
    {
      langs.map(({ text, value }) => (
        <div>
          <input
            type="checkbox"
            value={value}
            x-model="languages"
            name={text.toLowerCase()}
            class="accent-violet-800"
            id={value}
          />
          <label for={value}>{text}</label>
        </div>
      ))
    }
  </div>
</div>
